ELLIO_BOOTSTRAP='eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2FwaS5wbGF0Zm9ybS1zdGFnZS5lbGxpby50ZWNoIiwic3ViIjoiZGVwbG95bWVudDo1MmQ1YTBkOC00YTBkLTRjNTEtODdlZi0zZTkzMjNjZmI2YWYiLCJhdWQiOiJlZGxfYm9vdHN0cmFwIiwid29ya3NwYWNlX2lkIjoiNGYyMGQyYjMtYmQ4Ny00Yzc3LThkMGMtYTYwZDljZmM1MmVmIiwiZGVwbG95bWVudF9pZCI6IjUyZDVhMGQ4LTRhMGQtNGM1MS04N2VmLTNlOTMyM2NmYjZhZiIsImNvbXBvbmVudF90eXBlIjoiZWxsaW9fdHJhZWZpa19mb3J3YXJkX2F1dGgiLCJrdmVyIjoxLCJpYXQiOjE3NTY2NDYyMzV9.BWzNxxnJWpPgCwgS5HT2h34XmSQa1OutwhU_ZSxZqfUwmYHuvjzCgIByGMuPhqD26XZyl5xVisZcR20ZfKZzCg'